<footer>
    <div class="relative mt-[5em] h-[25rem] flex flex-row justify-between  items-center">
      <img class="pl-[2.6vw]" src="./assets/images/footerW.png"/>
    <div class="flex flex-row justify-between w-[80vw]">
      <div class="flex flex-col justify-between">
        <div class="flex flex-col">
          <p class="text-primary text-[0.9rem] font-thin"> The William - Gateway to Exquisite Dining</p>
          <p class="text-primary text-[0.9rem] font-thin"> Waverly Pl, New York, NY 10003, USA</p>
          <p class="text-primary text-[0.9rem] font-thin">914-229-7195, thewill.com</p>
          <p class="text-primary text-[0.9rem] font-thin">Open: 08:00 am – 01:00 pm</p>
        </div>
        <div><p class="absolute bottom-3 text-primary text-[1rem] font-regular">2004 The William. All Rights Reserved.</p></div>
      </div>

      <div class="flex flex-col justify-between pr-[20vw] w-[45vw] leading-6">
        <p class="text-primary text-[1rem] font-thin ">"Stay updated with the latest news and exclusive offers from The William"</p>
        <input type="email" placeholder="Your e-mail" class="text-primary text-[15px] font-thin pb-[10px] text-bookText text-[1rem] font-light border-b-[1px] border-bookLine  bg-transparent">
     <div class="flex flex-row justify-end gap-5">
      <a href="" class="text-primary text-[15px] font-thin">instagram</a>
      <a href="" class="text-primary text-[15px] font-thin">facebook</a>
     </div>
      </div>
    </div>
    </div>

</footer>