<footer>
    <div class="py-[5em] w-[80vw] md:w-[70vw] mx-auto flex flex-col gap-5 md:flex-row justify-between items-center">
    
      <img class="items-start h-[3rem] md:h-auto" src="./assets/images/footerW.png"/>
    
      <div class="flex flex-col md:flex-row justify-between md:w-[50vw] gap-5">
    
        <div class="flex flex-col justify-between md:w-[22vw] order-2 md:order-1 gap-5">
        <div class="flex flex-col justify-between gap-2">
          <p class="text-primary text-sm md:text-[1rem] font-light"> The William - Gateway to Exquisite Dining</p>
          <p class="text-primary text-sm md:text-[1rem] font-light"> Waverly Pl, New York, NY 10003, USA</p>
          <p class="text-primary text-sm md:text-[1rem] font-light">914-229-7195, thewill.com</p>
          <p class="text-primary text-sm md:text-[1rem] font-light">Open: 08:00 am – 01:00 pm</p>
        </div>
        <div><p class="absolute bottom-5 text-bookText text-sm font-thin">2004 The William. All Rights Reserved.</p></div>
      </div>

      <div class="flex flex-col justify-between md:w-[22vw] order-1 md:order-2 gap-5 leading-6">
        <p class="text-primary text-[1rem] font-light">"Stay updated with the latest news and exclusive offers from The William"</p>
     
         <input type="email" placeholder="Your e-mail" class="text-primary text-sm font-thin pb-[10px] text-bookText text-[1rem] font-light border-b-[1px] border-bookLine  bg-transparent">
         
          <div class="flex flex-row  md:justify-end gap-5">
             <a href="" class="text-secondary text-sm font-light">instagram</a>
             <a href="" class="text-secondary text-sm font-light">facebook</a>
            </div>
      </div>
      
      </div>

    </div>
</footer>