<div class="flex flex-col md:flex-row gap-5 justify-between">

    <div class="flex flex-col gap-5 md:w-[20vw]">
        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Avocado Toast</p>
                <p class="text-[1.1rem] text-third">$8.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Creamy avocado spread on whole-grain toast, topped with cherry tomatoes, radishes, and a sprinkle of hemp seeds.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Berry Acai</p>
                <p class="text-[1.1rem] text-third">$8.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Blend of acai berries, bananas, and almond milk, topped with granola, coconut flakes, and a drizzle of agave syrup.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Tofu Scramble</p>
                <p class="text-[1.1rem] text-third">$8.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Flavorful tofu scramble with bell peppers, spinach, and onions wrapped in a whole-wheat tortilla, served with a side of salsa.</p>
        </div>
    </div>

    <div class="flex flex-col gap-5 md:w-[20vw]">
        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Vegan Pancake</p>
                <p class="text-[1.1rem] text-third">$8.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Fluffy pancakes made from oat and almond flour, topped with fresh berries, banana slices, and maple syrup.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Sweet Potato</p>
                <p class="text-[1.1rem] text-third">$8.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Roasted sweet potatoes mixed with black beans, corn, and bell peppers, served with avocado slices and a squeeze of lime.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Quinoa Breakfast</p>
                <p class="text-[1.1rem] text-third">$8.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Protein-packed quinoa mixed with sautéed kale, cherry tomatoes, avocado, and a tangy tahini dressing.</p>
        </div>
    </div>

</div>
