<div class="flex flex-col md:flex-row gap-10 justify-between">

    <div class="flex flex-col gap-10 md:w-[20vw]">
        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Vegan Vanilla Cake</p>
                <p class="text-[1.1rem] text-third">$15.00</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Rice noodles tossed in a spicy Thai peanut sauce with tofu, bell peppers, carrots, and green.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Vegan Yellow Cake</p>
                <p class="text-[1.1rem] text-third">$15.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">A hearty casserole with a lentil and vegetable filling topped with creamy mashed potatoes, baked to golden perfection.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Vegan Fruit</p>
                <p class="text-[1.1rem] text-third">$13.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">A rich and flavorful chickpea curry with coconut milk, tomatoes, and spinach, served with basmati rice and naan bread.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Olive Oil Cake</p>
                <p class="text-[1.1rem] text-third">$13.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">A warming bowl of spiced lentil soup with carrots, celery, tomatoes, and a hint of cumin, served with a slice of crusty bread.</p>
        </div>
    </div>

    <div class="flex flex-col gap-10 md:w-[20vw]">
        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Strawberry Cake</p>
                <p class="text-[1.1rem] text-third">$12.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Grilled portobello mushrooms marinated in balsamic glaze, served with roasted garlic mashed potatoes.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Vanilla Peach Cake</p>
                <p class="text-[1.1rem] text-third">$12.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Pulled jackfruit in a smoky BBQ sauce, served on a whole-grain bun with coleslaw and a side of sweet potato fries.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Vegan Blackberry</p>
                <p class="text-[1.1rem] text-third">$12.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Stir-fried tofu with broccoli, bell peppers, snap peas, and carrots in a savory soy-ginger sauce, served over brown rice.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.1rem] text-third">Easy Vegan Cake</p>
                <p class="text-[1.1rem] text-third">$10.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Rice noodles tossed in a spicy Thai peanut sauce with tofu, bell peppers, carrots, and green.</p>
        </div>
    </div>

</div>
 