<div class="flex flex-row justify-between ">
    <div class="flex flex-col gap-[2em] w-[20vw]">
        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Eggplant Parmesan</p>
                <p class="text-[1.2rem] text-third">$15.00</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6"> Breaded and baked eggplant slices layered with marinara sauce and vegan mozzarella, served with a side of spaghetti and garlic bread.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Vegan Shepherd's Pie</p>
                <p class="text-[1.2rem] text-third">$15.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">A hearty casserole with a lentil and vegetable filling topped with creamy mashed potatoes, baked to golden perfection.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Chickpea Curry</p>
                <p class="text-[1.2rem] text-third">$13.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">A warming bowl of spiced lentil soup with carrots, celery, tomatoes, and a hint of cumin, served with a slice of crusty bread.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Stuffed Peppers</p>
                <p class="text-[1.2rem] text-third">$13.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">A rich and flavorful chickpea curry with coconut milk, tomatoes, and spinach, served with basmati rice and naan bread.</p>
        </div>
    </div>

    <div class="flex flex-col gap-[2em] w-[20vw]">
        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Vegan Lassagna</p>
                <p class="text-[1.2rem] text-third">$12.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Layers of pasta, vegan ricotta, spinach, and marinara sauce, topped with vegan mozzarella and baked until bubbly.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Portobello Mushroom Steaks</p>
                <p class="text-[1.2rem] text-third">$12.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Grilled portobello mushrooms marinated in balsamic glaze, served with roasted garlic mashed potatoes. </p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Thai Peanut Noodle Bowl</p>
                <p class="text-[1.2rem] text-third">$12.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Rice noodles tossed in a spicy Thai peanut sauce with tofu, bell peppers, carrots, and green onions.</p>
        </div>

        <div class="flex flex-col gap-1">
            <div class="flex flex-row justify-between">
                <p class="text-[1.2rem] text-third">Vegetable Stir-Fry with Tofu</p>
                <p class="text-[1.2rem] text-third">$10.95</p>
            </div>
            <p class="text-[1rem] text-justify text-primary font-thin leading-6">Stir-fried tofu with broccoli, bell peppers, snap peas, and carrots in a savory soy-ginger sauce, served over brown rice.</p>
        </div>
    </div>


</div>
 