<div class="flex flex-row justify-between items-center mt-20">
    <div class="text-center w-[30vw] pl-[7em]">
        <p class="text-[1.1rem] text-secondary font-thin">The William</p>
        <p class="text-[2rem] text-primary font-thin">Our Gallery</p>
    </div>
    <div class="w-[70vw]">
        <img src="./assets/images/ourGalleryHeader.png" class="w-full"/>
    </div>
  </div>

  <div class="flex flex-row justify-between">
      <!-- Vertical line -->
    <div class="flex flex-col relative">
        <div style="left: calc(30vw / 2 + 3.5em);" class="absolute border-l-[1px] border-firstLine h-full"></div>
    </div>

    <div class="w-[70vw] mt-[5em]">
        <div class="flex flex-col w-[50vw] gap-[3em]">
            <div class="flex flex-col">
                <p class="text-justify text-primary leading-6 text-[1rem] font-thin">Take a visual tour of The William through our gallery. From the elegant dining room to the cozy outdoor patio, every corner of our restaurant is designed to provide a memorable dining experience. Our behind-the-scenes photos offer a glimpse into the artistry and precision that go into every dish we serve.</p>
            </div>
    
            <div>       
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col gap-[1.5em] pr-[3em] pb-[1.5em]" (click)="openModal(breakfastImages)">
                        <img src="./assets/images/breakfast.png" alt="Breakfast Gallery" class="cursor-pointer">
                        <button class="text-justify text-primary leading-6 text-[1.2rem] font-light">Breakfast</button>
                    </div>
        
                    <div class="border-r-[1px] border-bookLine"></div>
        
                    <div class="flex flex-col gap-[1.5em] pl-[3em] pb-[1.5em]" (click)="openModal(lunchImages)">
                        <img src="./assets/images/lunch.png" alt="Lunch Gallery" class="cursor-pointer">
                        <button class="text-justify text-primary leading-6 text-[1.2rem] font-light">Lunch</button>
                    </div>
                </div>
        
                <div class="border-t-[1px] border-bookLine"></div>
        
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col gap-[1.5em] pr-[3em] pt-[1.5em]" (click)="openModal(dinnerImages)">
                        <button class="text-justify text-end text-primary leading-6 text-[1.2rem] font-light">Dinner</button>
                        <img src="./assets/images/dinner.png" alt="Dinner Gallery" class="cursor-pointer">
                    </div>
        
                    <div class="border-r-[1px] border-bookLine"></div>
        
                    <div class="flex flex-col gap-[1.5em] pl-[3em] pt-[1.5em]" (click)="openModal(sweetsImages)">
                        <button class="text-justify text-primary text-end leading-6 text-[1.2rem] font-light">Sweets</button>
                        <img src="./assets/images/sweets.png" alt="Sweets Gallery" class="cursor-pointer">
                    </div>
                </div>
            </div>

            <a routerLink="ourmenu" class="text-center text-secondary leading-6 text-[1.2rem] font-light">Menu</a>
           
            <p class="pb-[5em] text-justify text-primary leading-6 text-[1rem] font-light">Go to our <a class="text-secondary text-[1rem]" routerLink="MENU">MENU</a> and discover the delicious dishes that await you. From savory appetizers to delectable desserts, there's something for everyone to enjoy. Don't miss out on our chef's specials – your taste buds will thank you!</p>
        </div>
    </div>

  </div>

  <app-image-modal *ngIf="selectedImages.length" [imageList]="selectedImages" (closeModal)="closeModal()"></app-image-modal>
