    <div class="flex flex-col md:flex-row justify-between items-center pt-40 gap-5">

    <div class="text-center md:w-[30vw] md:pl-[7em]">
        <p class="text-[1.1rem] text-secondary font-thin">The William</p>
        <p class="text-[1.8rem] md:text-[2rem] text-primary font-thin">Our Menu</p>
    </div>

    <div class="md:w-[70vw]">
        <img src="./assets/images/ourMenuHeader.png" class="w-full"/>
    </div>

     </div>

    <div class="flex flex-row w-full justify-center md:justify-between">

          <!-- Vertical line -->
    <div class="flex flex-col relative">
        <div style="left: calc(30vw / 2 + 3.5em);" class="hidden md:block md:absolute border-l-[1px] border-firstLine h-full"></div>
    </div>

            <!-- Right Section -->

    <div class="w-[80vw] md:w-[68vw] py-20">

         <div class="md:w-[50vw] flex flex-col gap-10">
            
            <!-- Choose food type -->
            <div class="flex flex-col gap-5">

                <div class="flex flex-row justify-between">
                    <a *ngFor="let link of links" 
                    routerLink="{{ link.url }}" 
                    routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" 
                    class="text-[1.1rem] text-primary font-light">
                   {{ link.name }}
                 </a>
                </div>

                <div class="border-t-[1px] border-bookLine"></div>

            </div>

            <!-- Menu -->
             <router-outlet></router-outlet>
          
            <!-- images + book a table -->
            <div class="flex flex-col md:flex-row gap-10 md:gap-20 justify-between">

                <div class="md:w-[20vw]">
                    <img src="./assets/images/ourMenuImg.png" alt="">
                </div>

                <div class="flex flex-row md:w-[20vw] items-center justify-between">
                    <div class="border-t-[1px] border-bookLine w-[10vw] md:w-[2vw]"></div>
                    <button (click)="openModal()" class="text-[1.2rem] text-secondary text-center border-0">BOOK</button>
                    <div class="border-t-[1px] border-bookLine w-[10vw] md:w-[2vw]"></div>
                  </div>

                 

            </div>

         </div>
         <app-modal [isVisible]="modalVisible" (closeModalEvent)="handleCloseModal()"></app-modal>                     
    </div>
