<div class="flex flex-row justify-between items-center mt-20">
    <div class="text-center w-[30vw] pl-[7em]">
        <p class="text-[1.1rem] text-secondary font-thin">The William</p>
        <p class="text-[2rem] text-primary font-thin">Our Menu</p>
    </div>
    <div class="w-[70vw]">
        <img src="./assets/images/ourMenuHeader.png" class="w-full"/>
    </div>
  </div>

  <div class="flex flex-row justify-between">
          <!-- Vertical line -->
    <div class="flex flex-col relative">
        <div style="left: calc(30vw / 2 + 3.5em);" class="absolute border-l-[1px] border-firstLine h-full"></div>
    </div>

    <div class="w-[70vw] mt-[5em]">
        <div class="w-[50vw] flex flex-col gap-[2em]">
            <!-- Choose food type -->
            <div class="flex flex-col gap-[1em] w-[20vw]">
                <div class="flex flex-row justify-between">
                <a routerLink="breakfast" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-[1.1rem] text-primary font-light">Breakfast</a>
                <a routerLink="lunch"   routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-[1.1rem] text-primary font-light">Lunch</a>
                <a routerLink="dinner" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-[1.1rem] text-primary font-light">Dinner</a>
                <a routerLink="sweets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="text-[1.1rem] text-primary font-light">Sweets</a>
            </div>

            <div class="border-t-[1px] border-bookLine"></div>
            </div>

            <!-- Menu -->
             <router-outlet></router-outlet>
          
            <!-- images + book a table -->
            <div class="flex flex-row justify-between pb-[5em]">
                <div class="w-[20vw]">
                    <img src="./assets/images/ourMenuImg.png" alt="">
                </div>

                <div class="flex flex-row w-20vw items-center justify-between">
                    <div class="border-t-[1px] border-bookLine w-[2vw]"></div>
                    <a routerLink="reservation" class="text-[1.2rem] text-secondary w-[16vw] text-center">BOOK A TABLE</a>
                    <div class="border-t-[1px] border-bookLine w-[2vw]"></div>
                </div>
            </div>
        </div>
    </div>
  </div>