
  <section>
      <div class="flex flex-col min-h-[100vh] items-center justify-center pt-[4em] md:pt-0">
        <div class="flex flex-col text-center">
          <p class="text-secondary font-light text-[1.2rem] md:text-[1.5rem]">Welcome to</p>
          <p class="text-primary font-light text-[2.5rem] md:text-[3.75rem]">The William</p>
        </div>
        <div class="md:absolute left-0">
          <img src="./assets/images/header_leaf.svg" alt="The william header image" class="mix-blend-lighten" />
        </div>
      </div>
  </section>
  
  <div class="flex flex-col items-center gap-20">
  
  <!-- today's special menu -->
          <section> 
              <div class="w-[80vw] md:w-[70vw] md:h-[60vh] flex items-center justify-center lg:border-l-[1px] md:border-b-[1px] md:border-insideLine">
                  <div class="flex flex-col md:flex-row md:items-center md:justify-center gap-7">
  
                    <div>
                      <img class="h-[50vh] w-full object-cover md:h-[40vh] md:w-64" src="./assets/images/special.png" alt="Daily Creations" />
                    </div>
  
                    <div class="flex flex-col gap-3 md:w-[25vw]">
                      <div class="flex flex-col">
                        <h3 class="text-secondary text-base md:text-lg font-light">Daily creations</h3>
                        <h2 class="text-primary text-xl md:text-2xl font-regular">Today's Special Menu</h2>
                      </div>
                      <p class="text-primary text-base md:text-lg font-light leading-6">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                      <div>
                        <button class="border border-1 mt-2 border-button h-[35px] md:h-[40px] text-sm md:text-base px-4 text-center text-secondary" (click)="openModal()">Show More</button>
                      </div>
                    </div>
                  </div>
              </div> 
          </section>
          <app-special-on-menu-modal [isVisible]="isModalVisible" (closeModalEvent)="closeModal()"></app-special-on-menu-modal>
  
  <!-- big image -->
          <section>
      <img src="./assets/images/home02.png" alt="The william"/>
          </section>
  
  <!-- history -->
          <section>
              <div class="relative flex flex-col md:h-[60vh] w-[80vw] md:w-[70vw] justify-center gap-7 md:p-[3em] z-100">
               <div class="absolute top-0 right-0 w-[18rem] md:border-t-[1px] md:border-insideLine"></div>
               <div class="absolute top-0 right-0 h-[3rem] md:border-r-[1px] md:border-insideLine"></div>
               <div class="absolute bottom-0 left-0 w-[18rem] md:border-b-[1px] md:border-insideLine"></div>
               <div class="absolute bottom-0 left-0 h-[3rem] md:border-l-[1px] md:border-insideLine"></div>
  
               <div class="flex flex-col gap-5">
  
                  <div class="flex flex-col gap-3">
                    <div>
                      <p class="text-secondary text-base md:text-lg font-light">History</p>
                      <p class="text-primary text-xl md:text-2xl font-regular">About The William</p>
                    </div>
                    <div class="flex flex-col md:flex-row gap-10">
                        <p class="text-primary text-base md:text-lg font-light leading-6 md:w-[25vw]">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                        <p class="text-primary text-base md:text-lg font-light leading-6 md:w-[25vw]">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin.</p>
                    </div>
                  </div>
  
                  <div>
                    <button class="border border-1 mt-2 border-button h-[35px] md:h-[40px] text-sm md:text-base px-4 text-center text-secondary"><a routerLink="/about">Show More</a></button>
                  </div>
  
                </div>
  
                <p class="md:absolute bottom-4 left-8 text-base text-forItalic italic font-light">“I No Longer Steal From Nature“</p>
              </div>
          </section>
  
  <!-- Our chef -->
      <section>
        <div class="relative md:h-[60vh] w-[80vw] md:w-[70vw] flex flex-col justify-center gap-7 z-100">
          <div class="hidden md:block md:absolute border-r-[1px] right-0 border-insideLine h-[16rem] "></div>
  
          <div class="flex flex-col md:flex-row md:items-center md:justify-center gap-7">
  
          <div>
              <img src="./assets/images/home03.png" class="h-[50vh] w-full object-cover md:h-[80%] md:w-64" alt="Our chef"/>
          </div>
  
          <div class="flex flex-col gap-3 md:w-[25vw]">
  
            <div class="flex flex-col">
                <p class="text-secondary text-base md:text-lg font-light">Our Chef</p>
                <p class="text-primary text-xl md:text-2xl font-regular">William Colin</p>
            </div>
  
            <p class="text-primary text-base md:text-lg font-light leading-6">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            
            <div>
              <button class="border border-1 mt-2 border-button h-[35px] md:h-[40px] text-sm md:text-base px-4 text-center text-secondary"><a routerLink="/ourchef">Show More</a></button>
            </div>
  
           </div>
  
         </div>
  
         <p class="md:absolute  md:mt-0 bottom-0 right-0 yext-base md:text-lg text-forItalic italic font-light">Discover culinary delights that tantalize your senses.</p>
  
        </div>
      </section>
  
      <!-- explore -->
          <section>
        <div class="relative w-[80vw] md:w-[70vw] md:w-full md:h-[80vh] gap-7 flex flex-col md:flex-row items-start md:items-center">
         
          <div class="hidden md:block md:absolute top-0 left-[11vw] h-[7rem] border-l-[1px] border-insideLine"></div>
          <div class="hidden md:block md:absolute bottom-0 left-[11vw] h-[7rem] border-l-[1px] border-insideLine"></div>
          
          <!-- Image Section -->
          <div class="overflow-x-hidden	md:order-2 order-1 md:w-[40vw] md:h-full flex items-center">
          
            <img src="./assets/images/home04.png" class="w-full h-auto md:h-[30vh] object-cover" />
          </div>
  
          <!-- Text Section -->
          <div class="md:order-1 order-2 md:pr-10 md:w-[50vw] flex flex-col items-center justify-center md:pl-[20vw]">
         
            <div class="flex flex-col items-start gap-3 md:w-[30vw]">
              <div>
                <p class="text-secondary text-base md:text-lg font-light">Our Menu</p>
                <p class="text-primary text-xl md:text-2xl font-regular">Explore Our <br> Culinary Offerings</p>
                </div>
                <div>
                <p class="text-primary text-base md:text-lg font-light leading-6 md:w-[20vw]">It is a long established fact that a reader will be distracted by the readable content.</p>
              </div>
              <button class="border border-1 mt-2 border-button h-[35px] md:h-[40px] text-sm md:text-base px-4 text-center text-secondary z-100"><a routerLink="/ourmenu">Show More</a></button>
            </div>
  
          </div>
  
        </div>
          </section>
      
      <!-- reservation -->
      <section>
        <div 
          *ngIf="successfullySent"
          [ngClass]="{'slide-down': successfullySent, 'slide-up': !successfullySent}"
          class="transition-transform fixed top-[-300px] flex items-center justify-center">
          <div class="flex items-center justify-center text-center border border-insideLine w-64 h-[40px]">
            <p class="text-secondary font-regular">Successfully sent!</p>
          </div>
        </div>
      
        <div class="md:h-[60vh] w-[80vw] md:w-[70vw] flex flex-col md:flex-row justify-center md:items-end md:gap-10 border-b-[1px] border-bookLine">
          
          <img src="./assets/images/homeBook.png" alt="Booking reservation" class="hidden md:block mix-blend-color-dodge"/>
        
          <div class="flex flex-col gap-10">
            <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
              <div class="flex flex-col gap-5">

                <div *ngIf="isSubmitted">
                  <p class="text-messageSuccess text-[1.3rem] md:text-[1.5rem] md:text-lg ">Thank you for your reservation!<br> <span class="text-base text-messageSuccess font-light">We will contact you shortly to confirm your reservation</span></p>
                </div>
                <div>
                  <p class="text-secondary text-base md:text-lg font-light">Reservation</p>
                  <p class="text-primary text-xl md:text-2xl font-regular">Book a table</p>
                </div>
      
                <input 
                  type="text" 
                  id="name" 
                  formControlName="name" 
                  placeholder="Name" 
                  class="custom-input md:w-[20rem]">
      
                <input 
                  type="number" 
                  id="contact" 
                  formControlName="contact" 
                  placeholder="Contact" 
                  class="custom-input md:w-[20rem]">
              </div>
      
              <button 
                type="submit" 
                class="mt-5 border border-[1px] border-bookLine h-[40px] px-4 text-center text-secondary">
                BOOK
              </button>
            </form>
            <p class="text-base text-forItalic italic font-light pb-5">Reserve your table and unlock an unforgettable culinary mystery.</p>
          </div>
        </div>
      </section>
      
  
    </div>
    

